#map iframe {
    width: 50%;
    float: left;
    padding-top: 5px;
}

.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}

#footer {
    height: 20px;
    background-color: white;
}

input {
    background: grey
}

#video {
    width: 100%;
    height: 500px;
    border: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width: 100%;
    height: 300px;
}

.travel_mainDiv hr {
    width: 100%;
}

.travel_mainDiv h5,
.travel_mainDiv p {
    margin-left: 20px;
}
.environment_li { margin-top: 13px; } .environment_li h4 { border-bottom: 1px solid white; padding: 8px; } .environment_li img { border-radius: 25px; height: 250px; } .environment_li p { margin-top:10px; }
